<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">☰</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed"></div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{ data.label }}
                </span>
            </a>
            <div class="icons_rrss">
                <a href="https://www.facebook.com/computrabajo" target="_blank" rel="noopener noreferrer nofollow" aria-label="Facebook" onclick="ctLytics.SendAction('MenuLateral_ClickFacebook');ga('send', 'event', 'Menu Lateral', 'Click Facebook')"><span class="icon i_fb"></span></a>
                <a href="https://www.instagram.com/computrabajo/" target="_blank" rel="noopener noreferrer nofollow" aria-label="Instagram" onclick="ctLytics.SendAction('MenuLateral_ClickInstagram');ga('send', 'event', 'Menu Lateral', 'Click Instagram')"><span class="icon i_instagram"></span></a>
                <a href="https://www.tiktok.com/@computrabajo" target="_blank" rel="noopener noreferrer nofollow" aria-label="TikTok" onclick="ctLytics.SendAction('MenuLateral_ClickTiktok');ga('send', 'event', 'Menu Lateral', 'Click Tiktok')"><span class="icon i_tiktok"></span></a>
                <a href="https://blog.computrabajo.com/" target="_blank" rel="noopener noreferrer nofollow" aria-label="Blog" onclick="ctLytics.SendAction('MenuLateral_ClickBlog');ga('send', 'event', 'Menu Lateral', 'Click Blog')"><span class="icon i_blog"></span></a>
        </div>
        </li>
    </ul>
</div>
