<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <header id="header_menu" class="header_web home open">
        <div class="container">
    
        </div>
    </header>
    
    <div class="box_title_content">
      
      <div class="box_home">
          <video autoplay="" loop="" muted="" class="home_video">
              <source src="assets/img/video.mp4" type="video/mp4">
          </video>
          <div class="container">
              
          </div>
          
      </div>
    </div>
    <div class="container">
    <h2 class="title">¡Elije cómo ingresar!</h2>
    <h3 class="subtitle">Tenemos dos opciones de ingreso</h3>  
      
      <div class="bg_white pbB">
        <div class="conteiner">
          <div class="card">
            <h4> Sesión como Usuario</h4>
            <img src="assets/img/usuarioingreso.png">
            <button class="button"  routerLink="/iniciar-Usuario">Ingresar</button>
          </div>
          <div class="card">
            <h4>Iniciar Sesión como Empresa</h4>
            <img src="assets/img/empresa.png" alt="Empresa" width="100">
            <button class="button" routerLink="/iniciar-sesion">Ingresar</button>
          </div>
      </div>
    </div>
    </div> 
</body>
</html>


