<div class="salarios">
  <head>
    <link rel="stylesheet" href="salarios.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header id="header_menu" class="header_web home open">
        <div class="container">
        </div>
    </header>
    <main>
        <div class="box_title_content">
            
            <div class="box_home">
                <video autoplay="" loop="" muted="" class="home_video">
                    <source src="assets/img/video.mp4" type="video/mp4">
                </video>
                <div class="container">
                    
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="title">¡Ahora es el momento de cambiar!</h2>
            <div data-box-search-container class="box_search_content ">
            
                <ul>
                    <li>
                        <a data-searchbox-tab="companyvaluations" href="http://localhost:4200/buscar-ofertas"
                            data-searchbox-companyvaluations="">Empleos
                        </a>
                    </li>

                    <li>
                        <a data-searchbox-tab="salaries" href="http://localhost:4200/empresas"
                            data-searchbox-salaries="">Evaluciones de empresa
                        </a>
                    </li>
                    <li data-searchbox-tab="offers" class="sel">Salarios</li>
                    
                </ul>
                <br>
                <br>
                <div class="box_search slider-item sel" data-position="1" data-box-search-inputs-container="">
                  <div>
                      <div class="field_input_icon posRel mb0">
                          <div class="cont">
                              <span class="icon i_company"></span>
                              <input data-val="true" data-val-number="El campo SelectedId debe ser un número." id="SelectedId" name="SelectedId" type="hidden" value="0">
                              <input autocomplete="off" class="it-search" id="SelectedName" maxlength="200" name="SelectedName" placeholder="Busca tu puesto" type="text" value="">
                          </div>
                      </div>
                  </div>
                  <button class="b_primary rounded mlAuto" suggester-search-button="companies">
                      <span class="icon i_search"></span>
                      <span>Buscar</span>
                  </button>
              </div>
                <br>
                <br>
            </div>
        </div>
        <section class="Rates">
          <div class="container">
              <div class="Blue">
                  <div class="salarios mtb40 mt15_r mb15_r clearfix">
                      <div class="boxWhite fl w_32 w_100r">
                          <h2 class="fs18 fw_n mt0">Salarios por categoría</h2>
                          <br>
                          <div class="links">
                              <a href="/salarios/Salarios-de-Marketing-y-venta" title="Salarios de Marketing y venta">
                                  <span> Ventas </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-almacen-logistica" title="Salarios de Almacen / Logistica / Transporte">
                                  <span> Alamcen / Logistica / Transporte </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-atencion-a-clientes" title="Salarios de Atencion a clientes">
                                  <span> Atencion a clientes </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-administracion-y-oficina" title="Salarios de Administracion / Oficina">
                                  <span> Administracion / Oficina </span>
                                  <span>
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>

                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-callcenter-telemercadeo" title="Salarios CallCente / Telemercadeo">
                                  <span> CallCenter / Telemercadeo </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-informatica-y-telecomunicaciones" title="Salarios de Informatica / Telecomunicaciones">
                                  <span> Informatica / Telecomunicaciones </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-hosteleria-y-turismo" title="Salarios de Hosteleria / Turismo">
                                  <span> Hosteleria / Turismo </span>
                                  <span> 
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                              </a>
                              <a href="/salarios/salarios-de-produccion-operaciones" title="Salarios de Produccion / Operarios / Manufactura">
                                <span> Produccion / Operarios / Manufactura </span>
                                <span> 
                                    <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    class="input-icon-flecha"
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" 
                                    style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                    <path 
                                        d="M8 4 L16 12 L8 20" 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round"/>

                                    </svg>
                                </span>
                            </a>
                              <a class="fw_b" href="/salarios/salarios-de-perú" title="Ver todos las categorías">
                                  <span>Ver todos las categorías </span>
                                  <span>
                                      <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                                  </span>
                                  
                              </a>
                          </div>
                      </div>
                      <div class="boxWhite fl w_32 w_100r">
                          <h2 class="fs18 fw_n mt0">Salarios más buscados</h2>
                          <br>
                          <div class="links logos">
                              <a href="/salarios/asesora-de-ventas" title="Salarios de Asesor/a de ventas">
                                  <span>Asesor/a de ventas </span>
                                  <span>
                                      
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/auxiliar-de-almacen" title="Salarios de Auxilar de almacén">
                                  <span> Auxiliar de Almacén </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/atencion-al-cliente" title="Salarios de Atencion al cliente">
                                  <span> Atención a clientes </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>
                                      </svg>
                              </a>
                              <a href="/salarios/asistente" title="Salarios de Asistente">
                                  <span> Asistente </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/teleoperadores" title="Salarios de Teleoperadores/as">
                                  <span> Teleoperadores/as </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/supervisora" title="Salarios de Supervisor/a">
                                  <span> Supervisor/a </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/ayudante-de-cocina" title="Salarios de Ayudante de cocina">
                                  <span> Ayudante de cocina </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/operario-de-produccion" title="Salarios de Operario/a de produccion">
                                  <span> Operario/a de producción </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/operario-de-limpieza" title="Salarios de Operario de limpieza">
                                <span> Operario de limpieza </span>
                                <span>
                                </span>
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    class="input-icon-flecha"
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" 
                                    style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                    <path 
                                        d="M8 4 L16 12 L8 20" 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round"/>

                                    </svg>
                            </a>
                            <a href="/salarios/operarios-de-limpieza" title="Salarios de Operarios/as de limpieza">
                              <span> Operarios/as de limpieza </span>
                              <span>
                              </span>
                              <svg 
                                  xmlns="http://www.w3.org/2000/svg" 
                                  class="input-icon-flecha"
                                  width="24" height="24" 
                                  viewBox="0 0 24 24" 
                                  style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                  <path 
                                      d="M8 4 L16 12 L8 20" 
                                      stroke-linecap="round" 
                                      stroke-linejoin="round"/>

                                  </svg>
                          </a>
                          </div>
                      </div>
                      <div class="boxWhite fl w_32 w_100r">
                          <h2 class="fs18 fw_n mt0"> Salarios ejecutivos </h2>
                          <br>
                          <div class="links logos">
                              <a href="/salarios/medico-epidemiologo" title="Salarios de Médico epidemiologo">
                                  <span> Médico epidemiólogo </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/jefea-de-obra" title="Salarios de Jefe/a de obra">
                                  <span> Jefe/a de obra </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/medico-encargado" title="Salarios de Medico/a encargado">
                                  <span> Medico/a encargado </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/chef-de-partie" title="Salarios de Chef de parties">
                                  <span> Chef de parties </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/consultor-sap" title="Salarios de Consultor de SAP">
                                  <span> Consultor de SAP </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/jefe-de-guardia" title="Salarios de Jefe de guardia">
                                  <span> Jefe de guardia </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/jefea-de-guardia" title="Salarios de Jefe/a de guardia">
                                  <span> Jefe/a de guardia </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/ingeniero-residente" title="Salarios de Ingeniero residente">
                                  <span> ingeniero residente </span>
                                  <span>
                                  </span>
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="input-icon-flecha"
                                      width="24" height="24" 
                                      viewBox="0 0 24 24" 
                                      style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                      <path 
                                          d="M8 4 L16 12 L8 20" 
                                          stroke-linecap="round" 
                                          stroke-linejoin="round"/>

                                      </svg>
                              </a>
                              <a href="/salarios/medicoa-ocupacional" title="Salarios de Medico/a ocupacional">
                                <span> Medico/a ocupacional </span>
                                <span>
                                </span>
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    class="input-icon-flecha"
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" 
                                    style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                    <path 
                                        d="M8 4 L16 12 L8 20" 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round"/>

                                    </svg>
                            </a>
                            <a href="/salarios/medico-estetico" title="Salarios de Medico/a estetico">
                              <span> Medico/a estetica </span>
                              <span>
                              </span>
                              <svg 
                                  xmlns="http://www.w3.org/2000/svg" 
                                  class="input-icon-flecha"
                                  width="24" height="24" 
                                  viewBox="0 0 24 24" 
                                  style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                  <path 
                                      d="M8 4 L16 12 L8 20" 
                                      stroke-linecap="round" 
                                      stroke-linejoin="round"/>

                                  </svg>
                          </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="footer_c" id="secfooter">
        <div class="container">
                <div class="info_footer">
                    Copyright 2024
                    <br>
                    <br>
                </div>
        </div>
      </div> 
    </main>            
</body>
</div>

