.header_web .box_search {
  position: absolute;
  width: 530px;
  font-size: 14px;
  border: 1px solid #e1e5ea;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.07);
  transition: width 0.3s ease-in-out;
  margin-left: 210px;
  margin-top: -40px;
}

.box_search>div {
  display: flex;
}

.header_web .box_search>div .field_input_icon:first-of-type {
  margin-left: -5px;
}

.posRel {
  position: relative;
}

.field_input_icon .cont {
  position: relative;
  float: left;
  width: 100%;
}

.field_input_icon .cont .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 1;
}

.box_search input {
  border: 0;
  border-radius: 30px;
  padding: 9px 30px 9px 10px;
  margin-left: 30px;
}

.header_web input {
  height: auto;
}

.hide {
  display: none !important;
}

.header_web .box_search .b_primary {
  flex: 38px 0 0;
  height: 38px;
  padding: 8px;
  background-color: #233042;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.autocomplete {
    display: none;
  }
  
  .autocomplete.visible {
    display: block;
  }

.b_aux.rounded,
.b_secondary.rounded,
.btn_close_search,
.header_web .box_search .b_primary,
.modal-sm .b_primary,
.modal-sm .b_secondary,
.ui-dialog .b_primary,
.ui-dialog .b_secondary,
.ui-widget button.b_primary,
.ui-widget button.b_secondary,
a.b_primary,
a.b_secondary {
  text-decoration: none;
  border-radius: 60px;
}

input-icon{
    margin-left: 50px;
}
.box_search>div .field_input_icon:first-of-type .autocomplete {
    width: 140%;
}
.header_web .box_search .autocomplete {
    top: 41px !important;
}
.box_search .autocomplete {
    border-radius: 0 0 30px 30px;
    border-color: #e1e5ea;
    max-height: 310px;
}



.ccp_menu {
    margin-top: 10px;
  }
  
  
  @media only screen and (min-width: 1300px) {
    .container {
      width: 1500px;
    }
  }
  
  .ccp_menu ul {
    background: #eaf3fb;
    padding: 5px 0;
    display: flex;
    width: 100%;
    border-radius: 60px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 100px;
  }
  
  ul {
    list-style: none;
  }
  
  .ccp_menu li {
    border-radius: 50px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5px;
  }
  
  .ccp_menu a {
    color: #808080;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ccp_menu ul li a {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      color: #000; /* Color de texto inicial */
      text-decoration: none;
      background-color: #e9f3fd; /* Color de fondo inicial */
      border-radius: 20px; /* Bordes redondeados */
      transition: all 0.3s ease; /* Transición suave */
    }
    
    /* Estilo para el ítem seleccionado */
    .ccp_menu ul li.selec a {
      background: linear-gradient(90deg, #d7a9db 0, #a0bfef 40%, #a28dd3 100%); /* Fondo azul oscuro */
      color: #fff; /* Texto blanco */
    }
    
    /* Estilo para el icono dentro del ítem seleccionado */
    .ccp_menu ul li.selec a .input-icon-2,
    .ccp_menu ul li.selec a .input-icon-3,
    .ccp_menu ul li.selec a .input-icon-4,
    .ccp_menu ul li.selec a .input-icon-5 {
      fill: #fff; /* Ícono blanco */
    }
    
    /* Estilo al pasar el cursor */
    .ccp_menu ul li a:hover {
      background: linear-gradient(90deg, #d7a9db 0, #a0bfef 40%, #a28dd3 100%); /* Fondo azul oscuro */
      color: #fff; /* Texto blanco */
    }
    
    /* Cambio de color para los iconos al pasar el cursor */
    .ccp_menu ul li a:hover .input-icon-2,
    .ccp_menu ul li a:hover .input-icon-3,
    .ccp_menu ul li a:hover .input-icon-4,
    .ccp_menu ul li a:hover .input-icon-5 {
      fill: #fff; /* Ícono blanco */
    }
    
    /* Espaciado entre icono y texto */
    .ccp_menu ul li a div {
      margin-right: 10px;
    }
  a {
      background: transparent;
      text-decoration: none;
      color: #005DA9;
      cursor: pointer;
  }
  
  .header_web {
    padding: 22px 0 25px;
  }
  
  .header_web .container {
    display: flex;
    position: relative;
  }
  
  .header_web .logo {
    margin: 0 15px 0 0 !important;
    height: 30px;
  }
  .btn-icon {
    color: #f3ecec;
    
    cursor: pointer;
}
input-icon-place {
    color: #f3ecec;
    
    cursor: pointer;
    
}
.input-icon-2 {
    color: #999797;
    
    width: 28px;
    height: 25px;
    left: 119px;
    
}
.input-icon-3 {
    color: #918f8f;
    
    width: 28px;
    height: 25px;
    left: 406px;
    
    
}
.input-icon-4 {
    color: #8d8a8a;
    
    width: 28px;
    height: 25px;
    left: 695px;
    
}.input-icon-5 {
    color: #9e9e9e;
    
    width: 28px;
    height: 25px;
    left: 1025px;
    
}


