@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 1300px) {
    .conteiner {
      width: 1240px;
      margin: 100px;
    }
  }

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 700px;
}

.hide {
  display: none !important;
}
.breadinfo {
  padding: 0;
  z-index: 99;
}
.cm-12 {
  width: 100%;
}
.cm-10, .cm-11, .cm-12, .cm-2, .cm-3, .cm-4, .cm-5, .cm-6, .cm-7, .cm-8, .cm-9 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}
.breadcrumb {
  padding: 0;
  font-size: 14px;
  margin: 7px 0;
  height: 34px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb .breadcrumb li {
  display: inline;
}
a {
  background: transparent;
  text-decoration: none;
  color: #005DA9;
  cursor: pointer;
}
.mr5 {
  margin-right: 5px;
}
.ico_cv {
  font-size: 2.2rem;
}
.arrowRight, .i_arrow, .i_back_blue {
  color: #005DA9;
}
.fwN, .fw_n {
  font-weight: normal !important;
}
h1 {
  font-size: 24px;
}

.formulario_cv {
    clear: both;
    float: left;
    width: 100%;
}
.formulario_cv>.boxx {
  padding: 0 18px 50px;
  width: 72%;
  float: left;
  overflow: inherit;
  position: relative;
}
.boxx {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  position: relative;
  margin-bottom: 20px;
}
.form_header {
  position: relative;
  padding: 35px 50px 0;
  margin: 0 -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form_fields {
  padding: 50px 32px 0;
}
.form_header .i_edit, .form_header .ico_close {
  position: absolute;
  right: 50px;
  top: 30px;
}
.ico_cv {
  font-size: 2.2rem;
}
.photo_user {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 30px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 125px;
  flex: 0 0 125px;
  border-radius: 100px 55px 55px 90px / 80px 82px 75px 79px;
}
.formulario_cv input:not([class*=b_]), .tags_form input:not([class*=b_]) {
  width: 100% !important;
}
.photo_user img {
  height: 123px;
  border-radius: 100px 55px 55px 90px / 80px 82px 75px 79px;
  width: 100%;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
form {
  margin: 0;
}
.photo_user .i_plus {
  position: absolute;
  bottom: 0;
  right: 0;
}
.i_plus, .mas {
  font-size: 3rem;
  color: #005DA9;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}
.info_user {
  width: calc(100% - 155px);
}
.info_user>div {
  margin-bottom: 20px;
}
.fs20 {
  font-size: 20px;
}
.fwB, .fw_b {
  font-weight: bold;
}

.info_user>div p:nth-child(2) {
  margin-bottom: 10px;
}
.fs15 {
  font-size: 15px;
}
.b_aux:not(.small), .b_inv:not(.small), .b_primary:not(.small), .b_primary_inv:not(.small), .b_transparent:not(.small) {
  font-size: 16px;
}
.b_aux, .b_aux:not(span), .b_aux:not(span):after, .b_google, .b_google:not(span), .b_google:not(span):after, .b_inv, .b_inv:not(span), .b_inv:not(span):after, .b_outlook, .b_outlook:not(span), .b_outlook:not(span):after, .b_primary, .b_primary:not(span), .b_primary:not(span):after, .b_primary_inv, .b_primary_inv:not(span), .b_primary_inv:not(span):after, .b_transparent, .b_transparent:not(span), .b_transparent:not(span):after {
  border-radius: 30px !important;
}
.hide {
  display: none !important;
}
.b_inv, .b_primary_inv {
  background-color: #fff;
}
.b_primary_inv {
  color: #0D3878;
  border-color: #0D3878;
}
.b_aux, .b_inv, .b_primary, .b_primary_inv, .b_transparent {
  border-radius: 30px;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 13px 17px;
  float: none;
  height: auto;
}
.mt10 {
  margin-top: 10px;
}
.b_primary_inv .tag.new {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  padding: 3px 10px;
}

.tag.new {
  background-color: #FCC73B;
  color: #313944;
  border-radius: 25px;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_user ul li {
  margin: 0 10px 10px 0 !important;
  float: left;
  width: auto;
}
.formulario_cv ul li, .tags_form ul li {
  margin: 0 0 10px 0;
}
.formulario_cv ul li {
  margin: 0 0 10px 0;
}
.cols {
  display: table;
  border-collapse: separate;
  width: 100%;
}
.cols>:not(script) {
  display: table-cell;
  vertical-align: middle;
}
.ico_cv {
  font-size: 2.2rem;
}
.cols>:not(script) {
  display: table-cell;
  vertical-align: middle;
}
.pl10px {
  padding-left: 10px;
}
.form_header .i_edit, .form_header .ico_close {
  position: absolute;
  right: 50px;
  top: 30px;
}
.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title_cv {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}
.info_box {
  border: 1px solid #e9ebf6;
  background: #e9ebf6;
  padding: 20px 70px 20px 18px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.mt20 {
  margin-top: 20px;
}
.w100, .w_100 {
  width: 100% !important;
}
.list_timeline {
  padding: 0 0 50px;
}
.formulario_cv ul li:last-child, .tags_form ul li:last-child {
  margin: 0;
}
.formulario_cv ul li:last-child {
  margin: 0;
}
.formulario_cv ul li, .tags_form ul li {
  margin: 0 0 10px 0;
}
.formulario_cv ul li {
  margin: 0 0 10px 0;
}
.list_timeline>li {
  display: block;
  border-radius: 4px;
  clear: both;
}
.list_timeline>li>:last-child {
  float: left;
  position: relative;
  padding: 15px 0 15px 30px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fc80 {
  color: #808080 !important;
}
.mt5 {
  margin-top: 5px;
}
.fc80 {
  color: #808080 !important;
}
.mlAuto {
  margin-left: auto;
}
.list_timeline>li>:last-child {

  border-radius: 50%;

  content: '';
  z-index: 99;
  left: 8px;
  top: 19px;
}
.mb30 {
  margin-bottom: 30px;
}
.item_tag {
  border: 1px solid #e1e5ea;
  padding: 5px 40px 5px 15px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 10px 10px 0;
  position: relative;
}
.item_tag .i_delete {
  font-size: 12px;
}
.item_tag .i_check, .item_tag .i_delete {
  margin-left: 10px;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.fs16 {
  font-size: 16px;
}
.grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.grid2>:not(script):not(:nth-of-type(2n)) {
  margin-right: 2%;
}
.grid2>:not(script) {
  vertical-align: top;
  display: inline-block;
  width: calc((100% -(2 - 1)* 2%) / 2);
}
.formulario_cv .nice-select .current, .formulario_cv button, .formulario_cv input, .formulario_cv select, .formulario_cv textarea, .tags_form .nice-select .current, .tags_form button, .tags_form input, .tags_form select, .tags_form textarea {
  font-size: 16px;
}
.formulario_cv .nice-select, .formulario_cv select, .tags_form .nice-select, .tags_form select {
  height: 50px;
}
input.rounded, select.rounded, textarea.rounded {
  border-radius: 10px;
}
.cm-12 {
  width: 100%;
}
.cm-10, .cm-11, .cm-12, .cm-2, .cm-3, .cm-4, .cm-5, .cm-6, .cm-7, .cm-8, .cm-9 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}
.formulario_cv .nice-select, .formulario_cv select, .tags_form .nice-select, .tags_form select {
  height: 50px;
}
.formulario_cv .nice-select, .tags_form .nice-select {
  padding: 12px 35px 15px 17px !important;
}
.nice-select.rounded {
  border-radius: 10px;
}
.nice-select {
  border: 1px solid #e1e5ea;
  background-color: #fff;
  border-radius: 10px;
  display: block;
  position: relative;
  text-align: left;
  padding: 9px 35px 9px 12px !important;
  background-position: right center;
  background-repeat: no-repeat;
  float: left;
}
.nice-select .current {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.formulario_cv .nice-select.rounded.open, .tags_form .nice-select.rounded.open {
  border-radius: 10px 10px 0 0;
}
.formulario_cv .nice-select, .formulario_cv select, .tags_form .nice-select, .tags_form select {
  height: 50px;
}
.formulario_cv .nice-select, .tags_form .nice-select {
  padding: 12px 35px 15px 17px !important;
}
.nice-select .current {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.formulario_cv .nice-select.rounded .list, .tags_form .nice-select.rounded .list {
  border-radius: 0 0 10px 10px;
}

.formulario_cv .nice-select .list, .tags_form .nice-select .list {
  min-width: 100px;
}
.nice-select .list:not(.left) {
  left: 0;
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
}
.nice-select .list {
  background-color: #fff;
  background: #fff !important;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 3px 15px 1px rgba(49, 57, 68, 0.15);
  box-shadow: 0 3px 15px 1px rgba(49, 57, 68, 0.15);
  padding: 0;
  position: absolute;
  margin: 1px -1px 0 -1px;
  max-height: 250px;
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  top: 100%;
  min-width: 200px;
  width: calc(100% + 2px);
  z-index: 99;
}
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
  background-color: #eaf3fb;
  cursor: pointer;
  color: #333;
}
.nice-select .option {
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  padding: 10px 15px;
  width: 100%;
  margin: 0;
  color: #333;
  background-color: #fff;
  border-radius: 0;
}
.cm-12 {
  width: 100%;
}
.info_tooltip {
  display: inline-block;
  position: relative;
}
.formulario_cv ul li:last-child, .tags_form ul li:last-child {
  margin: 0;
}
.formulario_cv ul li:last-child {
  margin: 0;
}
.formulario_cv ul li, .tags_form ul li {
  margin: 0 0 10px 0;
}
.formulario_cv ul li {
  margin: 0 0 10px 0;
}
.list_bullet>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fwB, .fw_b {
  font-weight: bold;
}
.fs15 {
  font-size: 15px;
}
.fc80 {
  color: #808080 !important;
}
.fwB, .fw_b {
  font-weight: bold;
}
.mt10 {
  margin-top: 10px;
}

.mr15, .mr15px {
  margin-right: 15px;
}
.fs13 {
  font-size: 13px;
}
[class*=field_]:not([class*=mb]) {
  margin-bottom: 25px;
}
.dIB {
  display: inline-block;
}
.field_on_off {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dIB, .d_ib {
  display: inline-block;
}
.formulario_cv input[type=checkbox], .formulario_cv input[type=radio], .tags_form input[type=checkbox], .tags_form input[type=radio] {
  height: auto;
  margin: 5px 10px 0 0;
  width: auto !important;
}

.formulario_cv input:not([class*=b_]), .tags_form input:not([class*=b_]) {
  width: 100% !important;
}
.formulario_cv .nice-select .current, .formulario_cv button, .formulario_cv input, .formulario_cv select, .formulario_cv textarea, .tags_form .nice-select .current, .tags_form button, .tags_form input, .tags_form select, .tags_form textarea {
  font-size: 16px;
}
.formulario_cv input, .tags_form input {
  padding: 0 15px;
  height: 50px;
  float: none;
}
.field_on_off input {
  display: none !important;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-right: 1%;
  border: 0;
  cursor: pointer;
}
.field_on_off input:checked~.switch {
  background-color: #1e82c4;
}
.field_on_off .switch {
  border-radius: 9px;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #8291a5;
  height: 20px;
}
[class*=field_]>label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
.field_on_off input:checked~.switch .disc {
  -webkit-box-shadow: -1px 1px 5px rgba(53, 62, 74, 0.2);
  box-shadow: -1px 1px 5px rgba(53, 62, 74, 0.2);
  left: auto;
  right: 3px;
}
.field_on_off .switch .disc {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px rgba(53, 62, 74, 0.2);
  box-shadow: 1px 1px 5px rgba(53, 62, 74, 0.2);
  position: absolute;
  content: '';
  left: 3px;
  right: auto;
  top: 3px;
  height: 14px;
  width: 14px;
}
.field_on_off input:checked~.switch .on {
  display: block;
}
.field_on_off .switch .on {
  display: none;
  padding-right: 13px;
}
.field_on_off .switch .off, .field_on_off .switch .on {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  padding-top: 2px;
}
.field_on_off input:checked~.switch .off {
  display: none;
}
.field_on_off .switch .off {
  display: block;
  padding-left: 13px;
}
[class*=field_]:not([class*=mb]) {
  margin-bottom: 25px;
}
.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.w50, .w_50 {
  width: 50%;
}
.mr15, .mr15px {
  margin-right: 15px;
}
.w100, .w_100 {
  width: 100% !important;
}
.fc_aux {
  color: #4B5968;
}
.posRel, .pos_rel {
  position: relative;
}
.formulario_cv input, .tags_form input {
  padding: 0 15px;
  height: 50px;
  float: none;
}
.field_input input {
  width: 100% !important;
  padding: 13px 15px;
}
.field_input input {
  height: auto;
  border: 1px solid #e1e5ea;
  background-color: #fff;
  display: block;
  color: #313944;
  font-weight: normal;
  width: 100%;
  font-family: inherit;
  line-height: 1.4;
  padding: 13px 15px;
  float: none;
}
[class*=field_]:not([class*=mb]) {
  margin-bottom: 25px;
}
.info_box {
  border: 1px solid #e9ebf6;
  background: #e9ebf6;
  padding: 20px 70px 20px 18px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.mt20 {
  margin-top: 20px;
}
.list_bullet>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list_bullet>li {
  content: '';
  background: #1c7bba;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  margin-top: 5px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vt_fx {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.b_inv, .b_primary_inv {
  background-color: #fff;
}
.b_primary_inv {
  color: #0D3878;
  border-color: #0D3878;
}
.b_aux, .b_inv, .b_primary, .b_primary_inv, .b_transparent {
  border-radius: 30px;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 13px 17px;
  float: none;
  height: auto;
}
.b_primary_inv {
  border-radius: 30px;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 13px 17px;
  color: #0D3878;
  border-color: #b7b6b9;
  background-color: #fff;
}
.dIB, .d_ib {
  display: inline-block;
}
.mt20 {
  margin-top: 20px;
}
.btn_cv_complete {
  border-radius: 35px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  background: #eaf3fb;
  width: 55px;
  height: 55px;
  bottom: 15px;
  z-index: 9;
  font-size: 14px;
  position: sticky;
  cursor: pointer;
}
.btn_cv_complete .descrip.hide_info {
  line-height: 3;
  width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0;
  background: #eaf3fb;
}
.btn_cv_complete .descrip {
  background: #eaf3fb;
  position: absolute;
  width: 175px;
  right: 22px;
  top: 0;
  padding: 17px 17px 17px 15px;
  height: 55px;
  border-radius: 35px 0 0 35px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  z-index: -2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
}
.btn_cv_complete .box_donut {
  border-radius: 35px;
  background: #eaf3fb;
  position: relative;
  height: 55px;
  width: 55px;
}
.btn_cv_complete .info_donut {
  font-size: 13px;
  font-weight: normal;
}
.info_donut:not(.half) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
}
.info_donut {
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  line-height: 1.2;
  top: 50%;
  z-index: 1;
  font-weight: bold;
}
.info_donut {
  position: absolute;
  text-align: center;
  left: 50%;
  max-width: 100%;
}

.formulario_lateral {
  margin: 0 0 20px 2%;
  padding: 0;
  width: 26%;
  position: relative;
  float: left;
}
.boxx {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  position: relative;
  margin-bottom: 20px;
}
.vm_fx {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mbB {
  margin-bottom: 20px;
}
.boxx h3 {
  font-weight: normal !important;
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.fs20 {
  font-size: 20px;
}
.formulario_lateral p {
  font-weight: bold;
  margin: 0 0 9px !important;
}
.fwN, .fw_n {
  font-weight: normal !important;
  margin-top: -70px;
  width: 220px;
}
.boxx h3 {
  font-weight: normal !important;
  margin-top: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt5 {
  margin-top: 5px !important;
}
.fs20 {
  font-size: 20px;
}
.form_fields.bg_bluelight {
  padding: 25px 18px 0;
  overflow: hidden;
}

.boxx {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  box-shadow: 0 0 9px 1px rgba(24, 26, 31, 0.07);
  position: relative;
  margin-bottom: 20px;
}
.form_fields {
  padding: 50px 32px 0;
}
.bg_bluelight, .bg_brand_light {
  background: #eaf3fb;
}
.form_fields.bg_bluelight p:not(.fw_b) {
  font-weight: normal;
}

.form_fields.bg_bluelight .mb25 {
  margin-bottom: 25px !important;
}
.form_fields.bg_bluelight p {
  margin-bottom: 0 !important;
}
.formulario_lateral p {
  font-weight: bold;
  margin: 0 0 9px !important;
}
.pl10px {
  padding-left: 10px;
}
.formulario_cv ul li, .tags_form ul li {
  margin: 0 0 10px 0;
}
.formulario_cv ul li {
  margin: 0 0 10px 0;
}
.list_bullet>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.b_primary {
  background: linear-gradient(90deg, #d7a9db 0, #a0bfef 40%, #a28dd3 100%); 
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 13px 17px;
  float: none;
  height: auto;
}
#it-btn-upload-file {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #30064e;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Estilo al pasar el cursor */
#it-btn-upload-file:hover {
  background: linear-gradient(90deg, #d7a9db 0, #a0bfef 40%, #a28dd3 100%); 
  color: #fff;
}

  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #c8c8c8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /*distancia entre el borde y la barra*/
  }
  .input-icon-foco{
    color: #191919;
    position: absolute;
    width: 28px;
    height: 25px;
    left: 610px;
    top: 50%;
    transform: translateY(-50%);
}
.input-icon-foco-2{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 220px;
  top: 50%;
  transform: translateY(-270%);
}
.i_idea {
  color: #005DA9;
  font-size: 3.5rem;
}
.input-icon-mas{

  position: absolute;
  width: 28px;
  height: 25px;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.input-icon-circulo{

  position: absolute;
    width: 28px;
    height: 25px;
    left: 0px;
    top: 50%;
    transform: translateY(-140%);
}

.skills-container {
  position: relative;
}

.suggestions-box {
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions-box div {
  padding: 10px;
  cursor: pointer;
}

.suggestions-box div:hover {
  background-color: #f0f0f0;
}



  
  .search-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-icon {
    width: 25px;
    height: 25px;
    color: #191919;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #fffdfd;
    width: 200px;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  
  
  
  
  .tabs {
    display: flex;
    border-radius: 50px;
    background-color:  #917248;
    padding: 5px; /*ancho de la barra*/
    width: 1200px; /* largo específico */
    margin: 0 auto; /* Centrar la barra */
  }
  
  .tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /*ancho de la barra sin alterar la selecion de adentro*/
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
  }
  
  .tab:hover {
    background-color: #624f35;
    border-radius: 50px;
    width: 60px; /* Ancho específico */
  
  }
  
  .tab.selected {
    background-color: #f5f4f5;
  }
  
  .icon {
    margin-right: 8px; /*margen entre el icono y las letras*/
  }
  
  
  
  /*cuadro con texto*/
  .sidebar {
    position: absolute; /*fija la barra en la pantalla*/
    top: 150px;
    right: 100px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .sidebar-item {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.642);
    margin-bottom: 20px;
    width: 100%;
  }
  
  .sidebar-item h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .sidebar-item p {
    font-size: 14px;
    color: #000000;
  }
  
  .sidebar-item .nuevo {
    background-color: #FFD700;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .sidebar-item button {
    background-color: #07213d;
    color: rgb(253, 252, 252);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    width: 100%;/*hace que el boton ocupe todo el ancho del cuadro*/
    margin-top: 10px;
  }
  
  .sidebar-item button:hover {
    background-color: #367ed0;
  }
  
  .sidebar-item ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item ul li {
    margin-top: 10px;
  }
  
  .sidebar-item ul li a {
    color: #be0808;
    text-decoration: none;
    font-size: 14px;
  }
  
  .sidebar-item ul li a:hover {
    text-decoration: underline;
  }
  /*----------------------------------*/
  .curriculum {
    background-color: #ffffff;
    padding: 20px;
    width: 780px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: -200px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.avatar-container {
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    padding: 5px;
}

.avatar-container img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.header .info {
    margin-left: 15px;
}

.header .info h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.header .info p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.header .info a {
    color: #555;
    text-decoration: none;
}

.header .info a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.section h3 i {
    margin-right: 8px;
    color: #4c54af;
}

.section p, .section ul {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.section p a, .section ul li {
    color: #4c54af;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}

.section ul {
    padding-left: 20px;
}

.section ul li::before {
    content: '•';
    color: #4c54af;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.section p a:hover, .section ul li:hover {
    text-decoration: underline;
}

.section .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.section .tags span {
    background-color: #e8f4ea;
    color: #4c54af;
    padding: 5px 10px;
    border-radius: 15px;
}

.section .tags a {
    color: #4c54af;
    text-decoration: none;
}

.section .tags a:hover {
    text-decoration: underline;
}

.section button {
    padding: 8px 12px;
    background-color: #ffffff;
    color: #4c54af;
    border: 2px solid #4c54af;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.section button:hover {
    background-color: #4c54af;
    color: white;
}

.test-idioma {
    display: flex;
    align-items: center;
    gap: 10px;
}

.test-idioma select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.test-idioma button {
    padding: 5px 10px;
    background-color: #4c54af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.test-idioma button:hover {
    background-color: #4c54af;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
}

.progress-container .progress {
    background-color: #4c54af;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.progress-container span {
    font-size: 14px;
    color: #666;
}
  
  
    /*.------------------ FIN DE PAGINA*/
    .footer {
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #e9ecef;
        width: 100%;
    }
    
    .footer-content p {
        margin: 5px 0;
        color: #6c757d;
        font-size: 14px;
    }
    
    .footer-content a {
        color: #464647;
        text-decoration: none;
    }
    
      