<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GN ProjectBT</title>
    <link rel="stylesheet" href="visitas-perfil.component.css">
</head>
<body>
    <header class="header">
        <h1>GN ProjectBT</h1>

        <div class="user--info">
        <div class="search--box">
            <i class="fa-solid fa-briefcase"></i>
            <input type="text" placeholder="Cargo o ctaegoria">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Lugar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </div>

    </header>

    <div class="barra-navegacion">
        <i class="fa-solid fa-house-chimney-window"></i>
        <a href="http://localhost:4200/usuario" class="opcion">Mi área</a>

        <i class="fa-solid fa-id-card"></i>
        <a href="http://localhost:4200/CV" class="opcion">Mi curriculun</a>

        <i class="fa-solid fa-grip-vertical"></i>
        <a href="#test-y-evaluaciones" class="opcion">Test y evaluaciones</a>

        <i class="fa-solid fa-gear"></i>
        <a href="http://localhost:4200/configuraciones" class="opcion">Configuracion</a>
      </div>


      <div class="class titulo">
        <h3>Visitas a mi perfil</h3>
        <div class="contenido">
            <i class="fa-solid fa-clipboard-user"></i>
            <span class="her--title">
                Todavía no tienes vistas a tu perfil 
                     postulate y gana 
            </span>  
            <button>Buscar empleos</button>              
        </div>
       </div>

      
      <div class="contenido2">
        <h4>Cómo conseguir visitas
            Las visitas a tu perfil son muy importantes. Cuántas más recibas, más posibilidades tendrás de que las empresas te contraten.</h4>
        <div class="contenido--dos">
            <div class="paso">
                <h5>Postulate</h5>
                <i class="fa-solid fa-1"></i>
                <span class="tercer--titulo">
                    postulate a todas las ofertas profesionales que encajen con lo que estas buscando
                </span>
                <h6>Manten al dia tu cv</h6>
            </div>
            <div class="paso">
                <i class="fa-solid fa-2"></i>  
                <span class="tercer--titulo">
                    Actualiza tu CV con información reciente:
                    foto de perfil, última experiencia profesional, formación, habilidades, idiomas, etc.
                </span>
            </div>
        </div>
    </div>
    


    
    
</body>
</html>

