<div class="background-container">
    <img src="assets/img/elegante.png" class="background-image" alt="Fondo">
  
    <div class="favoritos">
      <h1>GNProject</h1>
      <section class="box mAuto w35 mb0_m w100_m">
        <header class="fc_base mbB mB_neg mtB_neg title mb0_m mB_neg_m title_m">
          <h1 class="fwB">Acceso para empresas registradas</h1>
        </header>
  
        <!-- Formulario -->
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <!-- Campo id -->
          <div class="field_input">
            <label for="id">ID</label>
            <input id="id" class="cm-3" [(ngModel)]="id" name="id" placeholder="ID" type="number" required #idField="ngModel">
            <!-- Mensaje de error para el campo id -->
            <div *ngIf="idField.invalid && idField.touched" class="error-message">El ID es obligatorio.</div>
          </div>
  
          <!-- Campo name -->
          <div class="field_input mb5">
            <label for="name">Nombre</label>
            <input id="name" class="cm-3" [(ngModel)]="name" name="name" placeholder="Nombre" type="text" required #nameField="ngModel">
            <!-- Mensaje de error para el campo name -->
            <div *ngIf="nameField.invalid && nameField.touched" class="error-message">El nombre es obligatorio.</div>
          </div>
  
          <!-- Campo type -->
          <div class="field_input mb5">
            <label for="type">Tipo</label>
            <input id="type" class="cm-3" [(ngModel)]="type" name="type" placeholder="Tipo" type="text" required #typeField="ngModel">
            <!-- Mensaje de error para el campo type -->
            <div *ngIf="typeField.invalid && typeField.touched" class="error-message">El tipo es obligatorio.</div>
          </div>
  
          <!-- Campo ruc -->
          <div class="field_input mb5">
            <label for="ruc">RUC</label>
            <input id="ruc" class="cm-3" [(ngModel)]="ruc" name="ruc" placeholder="RUC" type="number" required #rucField="ngModel">
            <!-- Mensaje de error para el campo ruc -->
            <div *ngIf="rucField.invalid && rucField.touched" class="error-message">El RUC es obligatorio.</div>
          </div>
  
          <!-- Mensaje general de error si hay algún problema -->
          <div class="error-message" *ngIf="message">{{ message }}</div>
  
          <!-- Botón de envío -->
          <input type="submit" value="Entrar" class="b_primary w100" [disabled]="loginForm.invalid">
        </form>
      </section>
  
      <!-- Mostrar los datos obtenidos de la API -->
      <div class="mt20 tc bg_white_m mt0_m pAllB_m pt0_m">
        <h2>Empresas Registradas</h2>
        <ul>
          <li *ngFor="let empresa of datosEmpresa">
            ID: {{ empresa.id }}, Nombre: {{ empresa.name }}, Tipo: {{ empresa.type }}, RUC: {{ empresa.ruc }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  