<div class="empresas">
    <head>
    
        <link rel="stylesheet" href="empresas.component.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>
        <header id="header_menu" class="header_web home open">
            <div class="container">
            </div>
        </header>
        <main>
            <div class="box_title_content">
                
                <div class="box_home">
                    <video autoplay="" loop="" muted="" class="home_video">
                        <source src="assets/img/video.mp4" type="video/mp4">
                    </video>
                    <div class="container">
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <h2 class="title">¡Ahora es el momento de cambiar!</h2>
                <div data-box-search-container class="box_search_content ">
                
                    <ul>
                        <li>
                            <a data-searchbox-tab="companyvaluations" href="http://localhost:4200/buscar-ofertas"
                                data-searchbox-companyvaluations="">Empleos
                            </a>
                        </li>
                        <li data-searchbox-tab="offers" class="sel">Evaluaciones de empresa</li>
                        
                        <li>
                            <a data-searchbox-tab="salaries" href="http://localhost:4200/salarios"
                                data-searchbox-salaries="">Salarios
                            </a>
                        </li>
                    </ul>
                    <br>
                    <br>
                    <div class="box_search slider-item sel" data-position="1" data-box-search-inputs-container="">
                        <div>
                            <div class="field_input_icon posRel mb0">
                                <div class="cont">
                                    <span class="icon i_company"></span>
                                    <input data-val="true" data-val-number="El campo SelectedId debe ser un número." id="SelectedId" name="SelectedId" type="hidden" value="0">
                                    <input autocomplete="off" class="it-search" id="SelectedName" maxlength="200" name="SelectedName" placeholder="Nombre de la empresa" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <button class="b_primary rounded mlAuto" suggester-search-button="companies">
                            <span class="icon i_search"></span>
                            <span>Buscar</span>
                        </button>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <section class="Rates">
                <div class="container">
                    <div class="Blue">
                        <div class="empresas salarios clearfix">
                            <div class="boxWhite fl w_32 w_100r">
                                <h2 class="fs18 fw_n mt0">Empresas por sector</h2>
                                <br>
                                <div class="links">
                                    <a href="/empresas/empresas-de-servicios-profesionales" title="Empresas de servicios profesionales">
                                        <span> Servicios Profesionales </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-venta-al-consumidor" title="Empresas de venta al consumidor">
                                        <span> Venta al consumidor </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-construccion-y-obras" title="Empresas de construccion y obras">
                                        <span> Construccion / obras </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-salud-y-medicina" title="Empresas de salud y medicina">
                                        <span> Salud / Medicina </span>
                                        <span>
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
   
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-fabricacion" title="Empresas de Fabricacion">
                                        <span> Fabricacion </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-Hosteleria-y-Turismo" title="Empresas de Hpsteleria y Turismo">
                                        <span> Hosteleria / Turismo </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="/empresas/empresas-de-Educacion" title="Empresas de Educacion">
                                        <span> Educacion </span>
                                        <span> 
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="fw_b" href="/empresas/buscador" title="Ver todos los sectores">
                                        <span>Ver todos los sectores</span>
                                        <span>
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                        </span>
                                        
                                    </a>
                                </div>
                            </div>
                            <div class="boxWhite fl w_32 w_100r">
                                <h2 class="fs18 fw_n mt0">Empresas con más seguidores</h2>
                                <br>
                                <div class="links logos">
                                    <a href="/tottus" title="Hipermercados Tottus ">
                                        <span>Hipermercados Tottus </span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2016/06/01/hipermercado-tottus-sa-F157CF0C9B1BAFE3thumbnail.jpeg" src="https://ii.ct-stc.com/3/logos/empresas/2016/06/01/hipermercado-tottus-sa-F157CF0C9B1BAFE3thumbnail.jpeg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/adecco" title="Adecco Perú S.A.">
                                        <span>Adecco Perú S.A.</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2017/02/28/adecco-peru-sa-E540E05432961430162133thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2017/02/28/adecco-peru-sa-E540E05432961430162133thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/manpower" title="Manpower">
                                        <span>Manpower</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2021/08/09/48d94b622e90498f9098223646955thumbnail.jpg" src="https://ii.ct-stc.com/3/logos/empresas/2021/08/09/48d94b622e90498f9098223646955thumbnail.jpg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/supermercadosperuanos" title="Super Food Holding">
                                        <span>Super Food Holding</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2022/02/07/be46330105844280ac8f172457631thumbnail.jpg" src="https://ii.ct-stc.com/3/logos/empresas/2022/02/07/be46330105844280ac8f172457631thumbnail.jpg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/gloria" title="Gloria">
                                        <span>Gloria</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2016/12/15/grupo-gloria-A81F4417FAC59280thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2016/12/15/grupo-gloria-A81F4417FAC59280thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/promart" title="PROMART ">
                                        <span>PROMART </span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2018/10/27/5efda8bde383470a89b6015334035thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2018/10/27/5efda8bde383470a89b6015334035thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/tambo" title="Tambo+ ">
                                        <span>Tambo+ </span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2021/08/30/de92be83e52d442b99a0204816660thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2021/08/30/de92be83e52d442b99a0204816660thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/empresas/ofertas-de-trabajo-de-makro-supermayorista-sa-33EB668AC2ABB603" title="Makro Supermayorista S.A">
                                        <span>Makro Supermayorista S.A</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2021/11/05/makro-supermayorista-sa-33EB668AC2ABB603203905thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2021/11/05/makro-supermayorista-sa-33EB668AC2ABB603203905thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="boxWhite fl w_32 w_100r">
                                <h2 class="fs18 fw_n mt0">Empresas recién evaluadas</h2>
                                <br>
                                <div class="links logos">
                                    <a href="/tottus/evaluaciones" title="Hipermercados Tottus ">
                                        <span>Hipermercados Tottus </span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2016/06/01/hipermercado-tottus-sa-F157CF0C9B1BAFE3thumbnail.jpeg" src="https://ii.ct-stc.com/3/logos/empresas/2016/06/01/hipermercado-tottus-sa-F157CF0C9B1BAFE3thumbnail.jpeg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/empresas/evaluaciones-en-transportes-linea-sa-22ADCF3A0DCB76EA" title="Transportes Línea S.A.">
                                        <span>Transportes Línea S.A.</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2016/07/11/transportes-linea-sa-22ADCF3A0DCB76EAthumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2016/07/11/transportes-linea-sa-22ADCF3A0DCB76EAthumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/mibanco/evaluaciones" title="Mibanco - Banco de la Microempresa SA">
                                        <span>Mibanco - Banco de la Microempresa SA</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2021/03/10/04e01b0bc47940d58b09220510227thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2021/03/10/04e01b0bc47940d58b09220510227thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/farmacias-peruanas/evaluaciones" title="Farmacias Peruanas">
                                        <span>Farmacias Peruanas</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2020/06/09/45d052fb03504c659c32195208339thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2020/06/09/45d052fb03504c659c32195208339thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/empresas/evaluaciones-en-san-roque-sa-5E9ECDCA3DA4E376" title="SAN ROQUE">
                                        <span>SAN ROQUE</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2017/09/14/san-roque-sa-5E9ECDCA3DA4E376230539thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2017/09/14/san-roque-sa-5E9ECDCA3DA4E376230539thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/empresas/evaluaciones-en-femaco-srl-0C54B99F5D3AED52" title="Femaco SRL">
                                        <span>Femaco SRL</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2018/10/18/f4e29223ee324b7cb734193911998thumbnail.png" src="https://ii.ct-stc.com/3/logos/empresas/2018/10/18/f4e29223ee324b7cb734193911998thumbnail.png" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/cajamaynas/evaluaciones" title="Caja Maynas">
                                        <span>Caja Maynas</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2020/02/28/584aaefa727b42e9b105134957233thumbnail.jpg" src="https://ii.ct-stc.com/3/logos/empresas/2020/02/28/584aaefa727b42e9b105134957233thumbnail.jpg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                    <a href="/empresas/evaluaciones-en-viru-sa-514983AF6B9E7BEC" title="VIRÚ S.A.">
                                        <span>VIRÚ S.A.</span>
                                        <span>
                                            <img class="lazy" data-src="https://ii.ct-stc.com/3/logos/empresas/2020/03/05/66785a3990a54e279f49171225199thumbnail.jpg" src="https://ii.ct-stc.com/3/logos/empresas/2020/03/05/66785a3990a54e279f49171225199thumbnail.jpg" alt="Logo">
                                        </span>
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            class="input-icon-flecha"
                                            width="24" height="24" 
                                            viewBox="0 0 24 24" 
                                            style="fill: none; stroke: rgb(78, 39, 128); stroke-width: 2;">
                                            <path 
                                                d="M8 4 L16 12 L8 20" 
                                                stroke-linecap="round" 
                                                stroke-linejoin="round"/>
   
                                            </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box_comp">
                    <div class="container">
                        <h2 class="tit">Empresas destacadas</h2>
                        <div class="grid3 grid">
                            <div>
                                <a href="/grupo_scotiabank" title="Grupo Scotiabank">
                                    <img src="https://ii.ct-stc.com/3/promotedlogos/scotiabank.png" alt="Grupo Scotiabank" class="w_100">
                                </a>
                                <div class="p20 p15_r">
                                    <div class="dFlex vm_fx">
                                        <div class="w70_fx">
                                            <a href="/grupo_scotiabank" title="Grupo Scotiabank" class="fs21 fc_base">Grupo Scotiabank</a>
                                            <div>
                                                <span class="fs16 fw_b"><span class="icon i_star"></span> 4,33</span>
                                            </div>
                                        </div>
                                        <div class="mlAuto">
                                            <a href="/grupo_scotiabank" title="Grupo Scotiabank">
                                                <img class="lazy img_comp_empresas" src="https://ii.ct-stc.com/3/logos/empresas/2018/07/04/grupo-scotiabank-CB84BBC0B42ACF3B222142thumbnail.png" data-src="https://ii.ct-stc.com/3/logos/empresas/2018/07/04/grupo-scotiabank-CB84BBC0B42ACF3B222142thumbnail.png" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dFlex tj_fx mt30">
                                        <div>
                                            <a href="/grupo_scotiabank/empleos" title="Grupo Scotiabank - Ofertas" class="fs18">
                                                0
                                            </a>
                                            <p>Ofertas</p>
                                        </div>
                                        <div>
                                            <a href="/grupo_scotiabank/evaluaciones" title="Grupo Scotiabank - Evaluaciones" class="fs18">
                                                18.726
                                            </a>
                                            <p>Evaluaciones</p>
                                        </div>
                                            <div>
                                                <a href="/grupo_scotiabank/salarios" title="Grupo Scotiabank - Salarios" class="fs18">
                                                    251
                                                </a>
                                                <p>Salarios</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="/empresas/acerca-de-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC">
                                    <img src="https://ii.ct-stc.com/3/promotedlogos/lucky.jpg" alt="LUCKY SAC" class="w_100">
                                </a>
                                <div class="p20 p15_r">
                                    <div class="dFlex vm_fx">
                                        <div class="w70_fx">
                                            <a href="/empresas/acerca-de-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC" class="fs21 fc_base">LUCKY SAC</a>
                                            <div>
                                                <span class="fs16 fw_b"><span class="icon i_star"></span> 4,06</span>
                                            </div>
                                        </div>
                                        <div class="mlAuto">
                                            <a href="/empresas/acerca-de-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC">
                                                <img class="lazy img_comp_empresas" src="https://ii.ct-stc.com/3/logos/empresas/2022/03/29/46cedc832ccd4a7c81e9224322761thumbnail.png" data-src="https://ii.ct-stc.com/3/logos/empresas/2022/03/29/46cedc832ccd4a7c81e9224322761thumbnail.png" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dFlex tj_fx mt30">
                                        <div>
                                            <a href="/empresas/ofertas-de-trabajo-de-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC - Ofertas" class="fs18">
                                                54
                                            </a>
                                            <p>Ofertas</p>
                                        </div>
                                        <div>
                                            <a href="/empresas/evaluaciones-en-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC - Evaluaciones" class="fs18">
                                                5.255
                                            </a>
                                            <p>Evaluaciones</p>
                                        </div>
                                            <div>
                                                <a href="/empresas/salarios-en-lucky-sac-816F05FFDB62BCE1" title="LUCKY SAC - Salarios" class="fs18">
                                                    223
                                                </a>
                                                <p>Salarios</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="/oechsle" title="Oechsle 	">
                                    <img src="https://ii.ct-stc.com/3/promotedlogos/oechsle.png" alt="Oechsle 	" class="w_100">
                                </a>
                                <div class="p20 p15_r">
                                    <div class="dFlex vm_fx">
                                        <div class="w70_fx">
                                            <a href="/oechsle" title="Oechsle 	" class="fs21 fc_base">Oechsle 	</a>
                                            <div>
                                                <span class="fs16 fw_b"><span class="icon i_star"></span> 4,33</span>
                                            </div>
                                        </div>
                                        <div class="mlAuto">
                                            <a href="/oechsle" title="Oechsle 	">
                                                <img class="lazy img_comp_empresas" src="https://ii.ct-stc.com/3/logos/empresas/2016/09/29/oechsle-E0130EBF23E92ECAthumbnail.jpeg" data-src="https://ii.ct-stc.com/3/logos/empresas/2016/09/29/oechsle-E0130EBF23E92ECAthumbnail.jpeg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dFlex tj_fx mt30">
                                        <div>
                                            <a href="/oechsle/empleos" title="Oechsle 	 - Ofertas" class="fs18">
                                                0
                                            </a>
                                            <p>Ofertas</p>
                                        </div>
                                        <div>
                                            <a href="/oechsle/evaluaciones" title="Oechsle 	 - Evaluaciones" class="fs18">
                                                8.012
                                            </a>
                                            <p>Evaluaciones</p>
                                        </div>
                                            <div>
                                                <a href="/oechsle/salarios" title="Oechsle 	 - Salarios" class="fs18">
                                                    648
                                                </a>
                                                <p>Salarios</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="footer_c" id="secfooter">
                <div class="container">
                        <div class="info_footer">
                            Copyright 2024
                            <br>
                            
                            <br>
                        </div>
                </div>
            </div>
        </main>            
    </body>
</div>
