<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GN ProjectBT</title>
    <link rel="stylesheet" href="mis-alertas.component.css">
</head>
<body>
    <header class="header">
        <h1>GN ProjectBT</h1>

        <div class="user--info">
        <div class="search--box">
            <i class="fa-solid fa-briefcase"></i>
            <input type="text" placeholder="Cargo o ctaegoria">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Lugar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </div>

    </header>

    <div class="barra-navegacion">
        <i class="fa-solid fa-house-chimney-window"></i>
        <a href="http://localhost:4200/usuario" class="opcion">Mi área</a>

        <i class="fa-solid fa-id-card"></i>
        <a href="http://localhost:4200/CV" class="opcion">Mi curriculun</a>

        <i class="fa-solid fa-grip-vertical"></i>
        <a href="#test-y-evaluaciones" class="opcion">Test y evaluaciones</a>

        <i class="fa-solid fa-gear"></i>
        <a href="http://localhost:4200/configuraciones" class="opcion">Configuracion</a>
      </div>


</body> 
</html>
