.user--info {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 7vh; /* Opcional: Asegura que el contenedor ocupe toda la altura de la ventana */
  
}
.search--box{
    background: #fff;
    border-radius: 15px;
    color: #2653cf;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 70px;
    cursor: pointer;
    font-size: 1.3rem; 
 
}

.search--box input[type="text"] {
    border: none;
    outline: none; /* Elimina el borde cuando el campo de texto está enfocado */
    background: transparent; /* Opcional: hace que el fondo del input sea transparente */
    color: #2653cf; /* Asegura que el texto dentro del input tenga el mismo color */
    font-size: 1.3rem; /* Asegura que el tamaño de la fuente sea consistente */
}
