<div class="configuracion">
    <header class="header_web"> </header>
    <section class="ccp_menu" id="secMenu">
        <div class="container">
                <ul>
                    <li class="">
                        <a data-path="/candidate/home" title="Mi área" onclick="ga('send', 'event', 'Menu Candidato', 'Click Home')"><div class="ccp_imgm1"></div>Mi área</a><div class="ccp_flecha"></div>
                    </li>
                        <li class="">
                            <a data-path="/candidate/cv/" title="Mi currículum" onclick="ga('send', 'event', 'Menu Candidato', 'Click CV')"><div class="ccp_imgm4"></div>Mi currículum</a><div class="ccp_flecha"></div>
                        </li>
                        <li class="">
                            <a data-path="/candidate/test/list?tlo=7A02BC8BFD169A2F" title="Test y evaluaciones" onclick="ga('send', 'event', 'Menu Candidato', 'Click Tests')">
                                <div class="ccp_imgm10"></div>
                                Test y evaluaciones
                                    
                            </a><div class="ccp_flecha"></div>
                        </li>
                        <li class="selec">
                            <a data-path="/configuration" title="Configuración" onclick="ga('send', 'event', 'Menu Candidato', 'Click Configuracion')"><div class="ccp_imgm6"></div>Configuración</a><div class="ccp_flecha"></div>
                        </li>
                </ul>
        </div>
    </section>
</div>

